* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #fff;
  --color: #dc1a28;
  --secondary: #ececec;
  --darker: #0d0d0d;
  --dark: #141414;
  --light: #5b5b5b;

  --sm: 10px;
  --md: 30px;
  --lg: 40px;
}
body {
  width: 100%;
  --bodyPaddingTop: 80px;
  padding-top: var(--bodyPaddingTop);
  background: var(--dark);
}
@media (max-width: 800px) {
  body {
    --bodyPaddingTop: 55px;
    padding-top: var(--bodyPaddingTop);
  }
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}
